
@font-face {
  font-family: DejaVuSans-ExtraLight;
  src: url(../fonts/DejaVuSans-ExtraLight.ttf);
}
@font-face {
  font-family: Elementary_Gothic_Scaled;
  src: url(../fonts/Elementary_Gothic_Scaled.ttf);
}
*, html, body {
  font-family: DejaVuSans-ExtraLight;
  color: white;
  background-color: black;
}
h1{
  font-family: Elementary_Gothic_Scaled;
}
h3{
  font-weight: bold;
}
h5{
  font-family: Elementary_Gothic_Scaled;
}
.cover-container{
  max-width:900px;
  margin: auto;
}
.card{
  background-color: black;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}